<?php
   /**
    * This file is used to provide global configuration settings,
    * It needs to be moved to a non-web-accessible directory
    */

    //Database connection settings
    $databaseUsername = 'dbusername';
    $databasePassword = "dbPassword";
    $databaseName = 'dbName';
    $databaseServerLocation = 'db.someserver.com';

    //cookie information
    $cookieName = "cookieName";     // just a string for cookie identification just use a string,
                                                //apparently "."s get converted to "_"s so ya I am not sure what else gets changed
    $domainPath = ".server.domain.com";    // this is used in the cookie to determine what domain have access to the cookie

    //token security settings
    $tokenPadLength = 20;                       // must be between 18 and 35
    $baseConvertTimestampValue = 19;            // must be between 8 and 20
    $baseConvertRandomValue = 10;               // must be between 8 and 20
    $baseConvertUserIDValue = 19;               // must be between 8 and 20
    $baseConvertIPAddressValue = 22;            // must be between 8 and 20
    $tokenSalt = "SomesaltHere";    // must be random length > 20 characters
    $maximumIdleTime = 1200;                    // time in seconds
?>
